li {
  margin: 2% 0%;
}

input {
  display: block;
}

.nav-link {
  padding: 0% 2%;
  display: inline;
  border-right: 1px solid #bbb;
  color: black;
  background-color: aliceblue;
}

.nav-link:hover {
  color: black;
  background-color: #bbb;
}

.navbar {
  display: flex;

  padding: 0%;
  margin: 0%;
  /* padding-bottom: 1.5%; */
  background-color: lightslategray;
}

.btn {
  margin-left: 1%;
}

.container {
  margin: 2% 6%;
  display: grid;

  grid-template-columns: 33.3% 33.3% 33.3%;
}

.form-field {
  margin: 2% 0%;
}
